@font-face {
  font-family: yellowtail;
  src: url(/fonts/Yellowtail-Regular.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(/fonts/RobotoMono-Light.ttf);
}

@font-face {
  font-family: roboto-medium;
  src: url(/fonts/RobotoMono-Medium.ttf);
}

@font-face {
  font-family: roboto-semibold;
  src: url(/fonts/RobotoMono-SemiBold.ttf);
}

// declare a class which applies it
.font-yellowtail {
  font-family: 'yellowtail';
}

body {
  font-family: 'roboto-light';
  background: #0b1421;
  color: #eef4fb;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

.q-btn__content {
  font-family: 'roboto-semibold';
}

.text-overline {
  font-family: 'roboto-medium';
}

a {
  color: inherit;
}
