// app global css in SCSS form
.skinny-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.skinny-page > .q-page-container {
  @media (min-width: $breakpoint-sm) {
    max-width: 50%;
  }
}
